<div class="mainer">
  <div class="play-field">
    <app-hand class="hand-top"
              [set]="opponentHand"
              [options]="opponentOptions"></app-hand>

    <app-hand class="hand-bottom"
              [set]="myHand"
              [options]="myOptions"></app-hand>

    <app-battle [set]="battleSet"></app-battle>

    <app-deck [set]="deck"
              *ngIf="gameProcess"></app-deck>

    <button class="btn-start"
            (click)="startGame()"
            *ngIf="!gameProcess">Start game</button>
  </div>
</div>
