<div class="mainer">
  <div class="play-field">
    <app-hand class="field-section"
              [set]="opponentHand"
              [options]="opponentOptions"></app-hand>

    <div class="field-section battle-section">
      <app-battle class="column" [set]="battleSet"></app-battle>
      <div class="column" *ngIf="!gameProcess">
        <button class="btn btn-start"
                (click)="startGame()">Start game</button>
      </div>
      <div class="column deck">
        <app-deck [set]="deck"
                  *ngIf="gameProcess"></app-deck>
      </div>
    </div>

    <app-hand class="field-section"
              [set]="myHand"
              [options]="myOptions"></app-hand>
  </div>
</div>
