.mainer {
  max-width: 960px;
  margin: 0 auto;
}

.play-field {
  height: calc(100vh - 20px);
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;

  .field-section {
    flex-grow: 0;

    &.battle-section {
      flex-grow: 1;
      padding: 10px 0;
      display: flex;

      .column {
        flex-grow: 1;
        display: flex;

        &.deck {
          flex-grow: 0;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

.btn-start {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &:hover {
    transform: translate(-50%, -50%) scale(1.1);
  }
}
