.mainer {
  max-width: 960px;
  padding: 10px;
  margin: 0 auto;
}

.play-field {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: calc(100vh - 20px);
  box-sizing: border-box;
  //overflow: hidden;
  padding: 10px;
  background-color: #fff;
  position: relative;
}

.hand-top {
  position: absolute;
  left: 10px;
  top: 10px;
  width: calc(100% - 20px);
}

.hand-bottom {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: calc(100% - 20px);
}

.btn-start {
  height: 30px;
  border-radius: 4px;
  border: 1px solid #ccc;
  text-transform: uppercase;
  padding: 0 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition-duration: 0.3s;
  cursor: pointer;

  &:hover {
    transform: translate(-50%, -50%) scale(1.1);
  }
}
