.block-battle-field {
  display: flex;
  flex-wrap: wrap;
  border-radius: 4px;
  flex-grow: 1;

  .hand-item {
    width: 33%;
    height: 50%;

    &.even {
      app-card {
        transform: rotate(15deg);

        &.bat-card {
          top: 65px;
          left: -20px;
          transform: rotate(315deg);
        }
      }
    }

    .overflow {
      width: 100px;
      height: 150px;
      position: relative;
    }

    app-card {
      position: absolute;
      transform: rotate(-15deg);
      top: 20px;

      &.bat-card {
        top: 65px;
        left: 45px;
        transform: rotate(50deg);
      }
    }
  }
}
