<div class="block-battle-field">
  <ng-container  *ngFor="let card of set | battleList; let even = even">
    <div class="hand-item"
         [ngClass]="{'even': even}">
      <div class="overflow">
        <app-card [card]="card"
                  *ngIf="!card.parentId"
                  [isVisible]="true"></app-card>

                <app-card *ngIf="(set | batCard: card.id) as answerCard"
                          [card]="answerCard"
                          [isVisible]="true"
                          class="bat-card"></app-card>
      </div>
    </div>
  </ng-container>

</div>
<!--card && getBatCard(card)-->
