<div class="block-battle-field">
  <ng-container  *ngFor="let card of set; let even = even">
    <div class="hand-item"
         [ngClass]="{'even': even}">
      <div class="overflow">
        <app-card [card]="card"
                  *ngIf="!card.parentId"
                  [isVisible]="true"></app-card>

                <app-card *ngIf="card && getBatCard(card) as ddd"
                          [card]="ddd"
                          [isVisible]="true"
                          class="bat-card"></app-card>
      </div>
    </div>
  </ng-container>

</div>
<!--card && getBatCard(card)-->
